:root {
    font-family: sans-serif;
}

#choice, #submit, #mes {
    display: none;
}

#info {
    text-align: center;
    margin: 20px;
}

#form {
    background-color: rgb(222, 222, 236);
    width: 60%;
    height: 370px;
    margin-left: 20%;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 3px 3px 10px rgb(167, 145, 145);
}

form {
    padding-top: 15px;
}

input {
    border-radius: 6px;
    height: 30px;
    width: 180px;
    margin: 10px;
}

input:focus, textarea:focus {
    background-color: rgb(192, 192, 223);
}

textarea {
    border-radius: 6px;
    height: 50px;
    width: 180px;
}

#continue {
    height: 40px;
    width: 100px;
    background-color: rgb(186, 186, 211);
    border-radius: 5px;
    border-style: none;
}

#continue:hover {
    background-color: rgb(177, 177, 212);
}

#choice {
    background-color: rgb(222, 222, 236);
    height: 200px;
    text-align: center;
    margin-top: 10%;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
    box-shadow: 3px 3px 10px rgb(167, 145, 145);
}

button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(139, 139, 187);
    border-style: none;
    margin: 3px;
}

button:hover {
    background-color: rgb(181, 181, 216);
}

#mes {
    text-align: center;
    margin: 30px;
}

#submit {
    background-color: rgb(222, 222, 236);
    height: 200px;
    text-align: center;
    margin-top: 2%;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 3px 3px 10px rgb(167, 145, 145);
}
