:root {
    font-family: sans-serif;
}


h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
}

.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}



.question {
    background-color: rgb(27, 27, 109);
    color: white;
    margin: 1rem 0;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.header:hover {
    background-color: rgb(86, 63, 151);
}

.header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.header.active::after {
    content: "\2212";
}

.answer {
    max-height: 0;
    overflow: hidden;
    background-color: rgb(206, 197, 197);
    color: black;
    transition: max-height 0.2s ease-out;
}

.answer-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 2px solid rgb(222, 222, 236);
}
