<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Επικοινωνία</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link href="../cssFiles/navbar.css" rel="stylesheet" type="text/css">
    <link href="../cssFiles/footer.css" rel="stylesheet" type="text/css">
    <link href="../cssFiles/contact.css" rel="stylesheet" type="text/css">
    <script src="../jsFiles/navbar.js" defer></script>
</head>
<body ng-app="">
    <div id="container">
        <div id="main">
            <nav class="navbar">
                <div class="brand">Ε.Ο.Ε</div>
                <a href="#" class="toggle">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
                <div class="links">
                    <ul>
                        <li><a href="menu.html">Μενού</a></li>
                        <li><a href="news.html">Νέα</a></li>
                        <li><a href="faqs.html">Συχνές Ερωτήσεις</a></li>
                        <li><a href="rantevou.html">Ραντεβού για εμβολιασμό</a></li>
                        <li><a href="statistics.html">Στατιστικά</a></li>
                        <li><a href="contact.html">Επικοινωνία</a></li>
                    </ul>
                </div>
            </nav>
            <div id="info">
                Συμπληρώστε τα παρακάτω στοιχεία για να επικοινωνήσετε με τους διαχειριστές
            </div>
            <div class="form">
                <form name="myForm" action="contact.html">
                    <input type="text" name="fullName" ng-model="full" required placeholder="Ονοματεπώνυμο"><br>
                    <span ng-show="myForm.fullName.$touched && myForm.fullName.$error.required">Εισάγετε το όνομα σας</span><br><br>
                    <input type="email" name="email" ng-model="email" required placeholder="Email"><br>
                    <span ng-show="myForm.email.$error.email">Εισάγετε ένα σωστό email</span><br><br>
                    <input type="tel" name="telephone" ng-model="tel" ng-minlength="10" ng-maxlength="10" required placeholder="+69 47564543" pattern="[0-9]{10}"><br>
                    <span ng-show="myForm.telephone.$touched && myForm.telephone.$error.required">Εισάγετε ένα τηλέφωνο</span><br><br>
                    <textarea name="message" ng-model="user" ng-minlength="10" required placeholder="Το μήνυμα σας"></textarea><br>
                    <span ng-show="myForm.message.$touched && (myForm.message.$error.minlength || myForm.message.$error.maxlength)">
                                    Το μήνυμα σας πρέπει να είναι πάνω από 10 χαρακτήρες</span><br><br>
                    <input type="submit" ng-disabled="myForm.$invalid" value="Αποστολή">
                </form><br><br>
            </div>
        </div>
    </div>

    <footer>
        <p>Email: eoe@gov.gr</p>
        <p>Τηλ: 210 4335210</p>
        <img id="img" src="../images/greek.png" width="120px" height="100px">
        <p>Χρηματοδότηση από το Υπουργείο Υγείας</p>
    </footer>

   <script>
        let form = document.getElementsByTagName("form")[0];
        form.addEventListener("submit", () => {
            alert("Το μήνυμα στάλθηκε επιτυχώς");
        });
   </script>
</body>
</html>